# debugging
__debug_bin

# binaries
bin/
cmd/realweather/realweather
realweather.exe
cmd/bot/rwbot
rwbot.exe
versioninfo/generate/generate

# syso
resource.syso

# testing files
cmd/realweather/config.json
cmd/realweather/config.toml
cmd/realweather/checkwx.json
cmd/realweather/.rwbot
cmd/realweather/.rwbotwx.json
cmd/bot/botconfig.json
tmp/
mission_unpacked/
*.log
*.miz

# notes
RELEASE_CHECKLIST.md
TODO.md
